html{
    background-color: #000000;
    color: #f1f1f1;
    padding: 0;
    width: 100vw;
    border: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    position: relative;
    height: 100vh;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/904a4f7a-3eb8-4a85-aba5-5e6505f17277/33546f2b-09fc-4597-bcd0-a96f5398bd61/IN-en-20200831-popsignuptwoweeks-perspective_alpha_website_small.jpg") no-repeat center center/cover ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    
}
#main::after{
    content: " ";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background:rgba(1, 0, 0, 0.6);
}
#navbar{
    
    display: grid;
    grid-template-columns: 50% 50% ;
    top: 0;
    padding: 1vh;
    height: 5vh;
    width: 100%;
    z-index: 1;
}
#netflix_logo{
    left: 10%;
    color: red;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
   
}
#sign{
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 10px;
    z-index: 1;
}
#description{
    /* position: absolute; */
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
    text-align: center;
    z-index: 2;
    
}
#primary_description{
    font-size: 4.5em;
    z-index: 2;
    
    
}
#secondary_desciprtion{
    font-size: 2em;
    padding: 0.5em;
    z-index: 2   ;
    
}
#tertiary_description{
    font-size: 1.25em;
    margin-bottom: 5px;
}
#email_address{
    display: grid;
    grid-template-columns: 65% 35% ;
    padding: 20px;
}
 
.primary_content{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-align: left;
    
    padding: 10px;
}
.secondary_content{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    text-align: left;
    padding: 10px;

}
.scroll{
    display: grid;
    grid-template-columns: 50% 50%;
}
#lower_email_address{
    display: grid;
    grid-template-columns: 50% 50% ;

}
#footer{
    display: grid;
    grid-template-columns: 100%;
}
#info{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.language_select{
    width: 100px;
    border: 1px solid #f1f1f1;
    background-color: black;
    color: #f1f1f1;
    padding: 5px 10px;
    font-size: 1em;
    float: right;
}
#sign_in{
    width: 100px;
    margin: 0px 20px;
    border: 1px solid red;
    background-color: red;
    color: #ffffff;
    padding: 5px 10px;
    font-size:1em;
    border-radius: 2.5px;
    float: left;
}
#email{
    border: 0px;
    
    height: 70px;
    width:80%;
    max-width: 620px;
    float: right;
    
}
#email[type="text"]{
    text-align: left;
    font-size: 1.5em;
}
#email_button{
    width: 190px;
    border: 0px;
    background: red;
    float: left;
    height:72px;
    font-size: 2em;
    color: #f1f1f1;
}
#content_box_1{
    
    
    padding:15%;
    
         
}
#content_box_2{
    padding:15%;
}
    
#content_box_3{
    
    
    padding:15%;
}
#scroll1{
    padding-bottom: 20%;
    border-top: 10px solid #333333;
 

}
.scroll{
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 0;
    border-top: 10px solid #333333; 
    
}

.tertiary{
    font-size: 1.25em;
    margin-bottom: 5px;
    text-align: center;
    border-top: 10px solid #333333;
    border-bottom: 10px solid #333333;
    padding: 5%;
}
#query{
    text-align: left; 
      

}
#footer{
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%; 
    text-align: left;
    bottom: 0;
    color: #5B5A5A
}
ul{
    color: #5B5A5A;
    float: left;
    font-size: 0.75em;
    
}
li{
    float: left;
    padding: 5px;
    list-style-type: none;
}
#button_bottoms{
    float: left;
    width: auto;
    margin-top: 10px;
    margin-bottom:10px ;
}
#copyright{
    bottom: 0%;
    padding: 0;
}
